spring:
  profiles:
    active: local
  datasource:
    url: jdbc:mysql://localhost:3306/dongnehankki?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org.hibernate.sql: debug


---
spring:
  config:
    activate:
      on-profile: local
    import: application-local.yml